In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

import pandas_profiling

import ppscore as pps


from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.ensemble import RandomForestClassifier #Import Random Forest classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [2]:
df_train = pd.read_csv('train.csv') 
df_train.shape

(82657, 12)

In [3]:
#Pandas Profiling of the dataset
#Refer Visualizations/output.html for full profile

prof = pandas_profiling.ProfileReport(df_train)
prof.to_file(output_file='output.html')

HBox(children=(FloatProgress(value=0.0, description='Summarize dataset', max=24.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Generate report structure', max=1.0, style=ProgressStyle(…

HBox(children=(FloatProgress(value=0.0, description='Render HTML', max=1.0, style=ProgressStyle(description_wi…

HBox(children=(FloatProgress(value=0.0, description='Export report to file', max=1.0, style=ProgressStyle(desc…

In [4]:
df_train.head()

,user_name,country,review_title,review_description,designation,points,price,province,region_1,region_2,winery,variety
0,NaN,Australia,Andrew Peace 2007 Peace Family Vineyard Chardo...,"Classic Chardonnay aromas of apple, pear and h...",Peace Family Vineyard,83,10.0,Australia Other,South Eastern Australia,NaN,Andrew Peace,Chardonnay
1,@wawinereport,US,North by Northwest 2014 Red (Columbia Valley (...,This wine is near equal parts Syrah and Merlot...,NaN,89,15.0,Washington,Columbia Valley (WA),Columbia Valley,North by Northwest,Red Blend
2,NaN,Italy,Renato Ratti 2007 Conca (Barolo),Barolo Conca opens with inky dark concentratio...,Conca,94,80.0,Piedmont,Barolo,NaN,Renato Ratti,Nebbiolo
3,@vossroger,France,Domaine l'Ancienne Cure 2010 L'Abbaye White (B...,It's impressive what a small addition of Sauvi...,L'Abbaye,87,22.0,Southwest France,Bergerac Sec,NaN,Domaine l'Ancienne Cure,Bordeaux-style White Blend
4,@vossroger,France,Château du Cèdre 2012 Le Cèdre Vintage Malbec ...,"This ripe, sweet wine is rich and full of drie...",Le Cèdre Vintage,88,33.0,France Other,Vin de Liqueur,NaN,Château du Cèdre,Malbec

In [5]:
df_train.isnull().sum()

user_name             19393
country                  35
review_title              0
review_description        0
designation           23647
points                    0
price                  5569
province                 35
region_1              12754
region_2              46708
winery                    0
variety                   0
dtype: int64

In [6]:
df_train['variety'].unique()

array(['Chardonnay', 'Red Blend', 'Nebbiolo',
       'Bordeaux-style White Blend', 'Malbec', 'Cabernet Sauvignon',
       'Zinfandel', 'Pinot Noir', 'Sauvignon Blanc', 'Gamay',
       'Grüner Veltliner', 'Bordeaux-style Red Blend', 'Sangiovese',
       'Syrah', 'White Blend', 'Cabernet Franc', 'Portuguese Red',
       'Portuguese White', 'Rhône-style Red Blend', 'Rosé',
       'Champagne Blend', 'Merlot', 'Riesling', 'Sparkling Blend',
       'Pinot Grigio', 'Tempranillo', 'Pinot Gris', 'Gewürztraminer'],
      dtype=object)

# EDA

In [7]:
len(df_train['country'].unique())  #Unique countries

39

In [8]:
df = df_train.copy()  #copy df_train

In [9]:
review_vars = ['user_name','review_title','review_description','points']

In [10]:
#Calculate the Predictive Power Score (PPS) for "x predicts y"
#The score always ranges from 0 to 1 and is data-type agnostic.

#A score of 0 means that the column x cannot predict the column y better than a naive baseline model.
#A score of 1 means that the column x can perfectly predict the column y given the model.
#A score between 0 and 1 states the ratio of how much potential predictive power the model achieved compared to the baseline model.

#Refer Summary for more
pps.score(df,'country','variety')

{'x': 'country',
 'y': 'variety',
 'task': 'classification',
 'ppscore': 0.16451308277579782,
 'metric': 'weighted F1',
 'baseline_score': 0.03247339320302871,
 'model_score': 0.19164417795480562,
 'model': DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                        max_depth=None, max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=None, splitter='best')}

In [11]:
pps.score(df,'province','variety')

{'x': 'province',
 'y': 'variety',
 'task': 'classification',
 'ppscore': 0.36588927712331876,
 'metric': 'weighted F1',
 'baseline_score': 0.03247339320302871,
 'model_score': 0.38648100396155005,
 'model': DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                        max_depth=None, max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=None, splitter='best')}

In [12]:
pps.score(df,'region_1','variety')

{'x': 'region_1',
 'y': 'variety',
 'task': 'classification',
 'ppscore': 0.47787685638901806,
 'metric': 'weighted F1',
 'baseline_score': 0.030433946251768037,
 'model_score': 0.4937671240784789,
 'model': DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                        max_depth=None, max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=None, splitter='best')}

In [13]:
pps.score(df,'region_2','variety')

{'x': 'region_2',
 'y': 'variety',
 'task': 'classification',
 'ppscore': 0.16347560169989664,
 'metric': 'weighted F1',
 'baseline_score': 0.06937788110262372,
 'model_score': 0.22151189194460505,
 'model': DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                        max_depth=None, max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=None, splitter='best')}

In [14]:
pps.score(df,'price','variety')

{'x': 'price',
 'y': 'variety',
 'task': 'classification',
 'ppscore': 0.07833478839403932,
 'metric': 'weighted F1',
 'baseline_score': 0.02769388335704125,
 'model_score': 0.10385927725849753,
 'model': DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                        max_depth=None, max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=None, splitter='best')}

In [15]:
pps.score(df,'user_name','variety')

{'x': 'user_name',
 'y': 'variety',
 'task': 'classification',
 'ppscore': 0.11641591036411543,
 'metric': 'weighted F1',
 'baseline_score': 0.028452973548730692,
 'model_score': 0.14155650509460455,
 'model': DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                        max_depth=None, max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=None, splitter='best')}

In [17]:
pps.score(df,'points','variety')

{'x': 'points',
 'y': 'variety',
 'task': 'classification',
 'ppscore': 0.03291792262037129,
 'metric': 'weighted F1',
 'baseline_score': 0.028622892635315,
 'model_score': 0.0605986090907458,
 'model': DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                        max_depth=None, max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=None, splitter='best')}

In [18]:
pps.score(df,'winery','variety')

{'x': 'winery',
 'y': 'variety',
 'task': 'classification',
 'ppscore': 0.20903318315412697,
 'metric': 'weighted F1',
 'baseline_score': 0.028622892635315,
 'model_score': 0.23167294143080325,
 'model': DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                        max_depth=None, max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=None, splitter='best')}

In [19]:
pps.score(df,'designation','variety')

{'x': 'designation',
 'y': 'variety',
 'task': 'classification',
 'ppscore': 0.20050367162597035,
 'metric': 'weighted F1',
 'baseline_score': 0.03256338028169014,
 'model_score': 0.2265379746006289,
 'model': DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                        max_depth=None, max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=None, splitter='best')}

In [20]:
pps.score(df,'review_title','variety')

{'x': 'review_title',
 'y': 'variety',
 'task': 'classification',
 'ppscore': 0.010486071092511385,
 'metric': 'weighted F1',
 'baseline_score': 0.028622892635315,
 'model_score': 0.03880882204077915,
 'model': DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                        max_depth=None, max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=None, splitter='best')}

In [21]:
pps.score(df,'review_description','variety')

{'x': 'review_description',
 'y': 'variety',
 'task': 'classification',
 'ppscore': 0.008910176400236336,
 'metric': 'weighted F1',
 'baseline_score': 0.028622892635315,
 'model_score': 0.03727803401308565,
 'model': DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                        max_depth=None, max_features=None, max_leaf_nodes=None,
                        min_impurity_decrease=0.0, min_impurity_split=None,
                        min_samples_leaf=1, min_samples_split=2,
                        min_weight_fraction_leaf=0.0, presort='deprecated',
                        random_state=None, splitter='best')}

In [22]:
df = df.drop(review_vars,axis=1)

In [23]:
df.shape

(82657, 8)

In [24]:
df

,country,designation,price,province,region_1,region_2,winery,variety
0,Australia,Peace Family Vineyard,10.0,Australia Other,South Eastern Australia,NaN,Andrew Peace,Chardonnay
1,US,NaN,15.0,Washington,Columbia Valley (WA),Columbia Valley,North by Northwest,Red Blend
2,Italy,Conca,80.0,Piedmont,Barolo,NaN,Renato Ratti,Nebbiolo
3,France,L'Abbaye,22.0,Southwest France,Bergerac Sec,NaN,Domaine l'Ancienne Cure,Bordeaux-style White Blend
4,France,Le Cèdre Vintage,33.0,France Other,Vin de Liqueur,NaN,Château du Cèdre,Malbec
...,...,...,...,...,...,...,...,...
82652,Spain,Crianza,12.0,Northern Spain,Rioja,NaN,Montecillo,Tempranillo
82653,US,Single Vineyard,21.0,New Mexico,New Mexico,NaN,Vivác Winery,Cabernet Sauvignon
82654,France,Nouveau,14.0,Beaujolais,Beaujolais-Villages,NaN,Domaine de la Madone,Gamay
82655,France,NaN,20.0,Bordeaux,Haut-Médoc,NaN,Château Beaumont,Bordeaux-style Red Blend
82656,US,Estate,50.0,California,Rutherford,Napa,Round Pond,Cabernet Sauvignon

In [25]:
df = df.drop('region_2',axis=1)

In [26]:
df

,country,designation,price,province,region_1,winery,variety
0,Australia,Peace Family Vineyard,10.0,Australia Other,South Eastern Australia,Andrew Peace,Chardonnay
1,US,NaN,15.0,Washington,Columbia Valley (WA),North by Northwest,Red Blend
2,Italy,Conca,80.0,Piedmont,Barolo,Renato Ratti,Nebbiolo
3,France,L'Abbaye,22.0,Southwest France,Bergerac Sec,Domaine l'Ancienne Cure,Bordeaux-style White Blend
4,France,Le Cèdre Vintage,33.0,France Other,Vin de Liqueur,Château du Cèdre,Malbec
...,...,...,...,...,...,...,...
82652,Spain,Crianza,12.0,Northern Spain,Rioja,Montecillo,Tempranillo
82653,US,Single Vineyard,21.0,New Mexico,New Mexico,Vivác Winery,Cabernet Sauvignon
82654,France,Nouveau,14.0,Beaujolais,Beaujolais-Villages,Domaine de la Madone,Gamay
82655,France,NaN,20.0,Bordeaux,Haut-Médoc,Château Beaumont,Bordeaux-style Red Blend
82656,US,Estate,50.0,California,Rutherford,Round Pond,Cabernet Sauvignon

In [27]:
df.isnull().sum()

country           35
designation    23647
price           5569
province          35
region_1       12754
winery             0
variety            0
dtype: int64

In [28]:
df = df.dropna() #Remove missing values

In [29]:
df

,country,designation,price,province,region_1,winery,variety
0,Australia,Peace Family Vineyard,10.0,Australia Other,South Eastern Australia,Andrew Peace,Chardonnay
2,Italy,Conca,80.0,Piedmont,Barolo,Renato Ratti,Nebbiolo
3,France,L'Abbaye,22.0,Southwest France,Bergerac Sec,Domaine l'Ancienne Cure,Bordeaux-style White Blend
4,France,Le Cèdre Vintage,33.0,France Other,Vin de Liqueur,Château du Cèdre,Malbec
5,Argentina,Finca La Escondida Reserva,13.0,Other,San Juan,Andean,Cabernet Sauvignon
...,...,...,...,...,...,...,...
82646,France,Notre Dame des Champs,65.0,Southwest France,Cahors,Domaine de Cause,Malbec
82652,Spain,Crianza,12.0,Northern Spain,Rioja,Montecillo,Tempranillo
82653,US,Single Vineyard,21.0,New Mexico,New Mexico,Vivác Winery,Cabernet Sauvignon
82654,France,Nouveau,14.0,Beaujolais,Beaujolais-Villages,Domaine de la Madone,Gamay
82656,US,Estate,50.0,California,Rutherford,Round Pond,Cabernet Sauvignon

In [30]:
feature_cols = ['country','province','winery','region_1'] #categorical feature cols

In [31]:
len(df['winery'].unique())

8151

In [32]:
df['winery'].isna().sum()

0

In [33]:
df= df.reset_index()
df

,index,country,designation,price,province,region_1,winery,variety
0,0,Australia,Peace Family Vineyard,10.0,Australia Other,South Eastern Australia,Andrew Peace,Chardonnay
1,2,Italy,Conca,80.0,Piedmont,Barolo,Renato Ratti,Nebbiolo
2,3,France,L'Abbaye,22.0,Southwest France,Bergerac Sec,Domaine l'Ancienne Cure,Bordeaux-style White Blend
3,4,France,Le Cèdre Vintage,33.0,France Other,Vin de Liqueur,Château du Cèdre,Malbec
4,5,Argentina,Finca La Escondida Reserva,13.0,Other,San Juan,Andean,Cabernet Sauvignon
...,...,...,...,...,...,...,...,...
45254,82646,France,Notre Dame des Champs,65.0,Southwest France,Cahors,Domaine de Cause,Malbec
45255,82652,Spain,Crianza,12.0,Northern Spain,Rioja,Montecillo,Tempranillo
45256,82653,US,Single Vineyard,21.0,New Mexico,New Mexico,Vivác Winery,Cabernet Sauvignon
45257,82654,France,Nouveau,14.0,Beaujolais,Beaujolais-Villages,Domaine de la Madone,Gamay
45258,82656,US,Estate,50.0,California,Rutherford,Round Pond,Cabernet Sauvignon

In [34]:
df1 = pd.get_dummies(df[feature_cols])  #Columns with categorical variables without variety

In [35]:
df1

,country_Argentina,country_Australia,country_Canada,country_France,country_Italy,country_Spain,country_US,province_Alsace,province_Andalucia,province_Arizona,...,region_1_Yadkin Valley,region_1_Yakima Valley,region_1_Yamhill County,region_1_Yarra Valley,region_1_Yecla,region_1_Yolo County,region_1_York Mountain,region_1_Yorkville Highlands,region_1_Yountville,region_1_Zonda Valley
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45254,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45255,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45256,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45257,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45258,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
df1 = df1.reset_index()

In [37]:
df1

,index,country_Argentina,country_Australia,country_Canada,country_France,country_Italy,country_Spain,country_US,province_Alsace,province_Andalucia,...,region_1_Yadkin Valley,region_1_Yakima Valley,region_1_Yamhill County,region_1_Yarra Valley,region_1_Yecla,region_1_Yolo County,region_1_York Mountain,region_1_Yorkville Highlands,region_1_Yountville,region_1_Zonda Valley
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45254,45254,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45255,45255,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45256,45256,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
45257,45257,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45258,45258,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
result = pd.concat([df,df1],axis=1)  #concat  categorical with encoded columns

In [39]:
result.drop(feature_cols,axis=1,inplace=True)   #remove original categorical columns

In [40]:
result = result.reset_index()

In [41]:
result.drop('level_0',axis=1,inplace=True)

In [42]:
result

,index,designation,price,variety,index,country_Argentina,country_Australia,country_Canada,country_France,country_Italy,...,region_1_Yadkin Valley,region_1_Yakima Valley,region_1_Yamhill County,region_1_Yarra Valley,region_1_Yecla,region_1_Yolo County,region_1_York Mountain,region_1_Yorkville Highlands,region_1_Yountville,region_1_Zonda Valley
0,0,Peace Family Vineyard,10.0,Chardonnay,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Conca,80.0,Nebbiolo,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,L'Abbaye,22.0,Bordeaux-style White Blend,2,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,Le Cèdre Vintage,33.0,Malbec,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Finca La Escondida Reserva,13.0,Cabernet Sauvignon,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45254,82646,Notre Dame des Champs,65.0,Malbec,45254,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
45255,82652,Crianza,12.0,Tempranillo,45255,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45256,82653,Single Vineyard,21.0,Cabernet Sauvignon,45256,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45257,82654,Nouveau,14.0,Gamay,45257,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
45258,82656,Estate,50.0,Cabernet Sauvignon,45258,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
result.drop('index',axis=1,inplace=True)

In [44]:
result = result.drop('designation',axis=1)

In [45]:
result.shape

(45259, 9123)

In [46]:
X = result.drop('variety',axis=1)
y = result['variety']

In [47]:
X

,price,country_Argentina,country_Australia,country_Canada,country_France,country_Italy,country_Spain,country_US,province_Alsace,province_Andalucia,...,region_1_Yadkin Valley,region_1_Yakima Valley,region_1_Yamhill County,region_1_Yarra Valley,region_1_Yecla,region_1_Yolo County,region_1_York Mountain,region_1_Yorkville Highlands,region_1_Yountville,region_1_Zonda Valley
0,10.0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,80.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,22.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,33.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45254,65.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45255,12.0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45256,21.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
45257,14.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45258,50.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [49]:
X_train

,price,country_Argentina,country_Australia,country_Canada,country_France,country_Italy,country_Spain,country_US,province_Alsace,province_Andalucia,...,region_1_Yadkin Valley,region_1_Yakima Valley,region_1_Yamhill County,region_1_Yarra Valley,region_1_Yecla,region_1_Yolo County,region_1_York Mountain,region_1_Yorkville Highlands,region_1_Yountville,region_1_Zonda Valley
40723,29.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
18465,18.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
27054,32.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
42336,160.0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23565,50.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43723,26.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32511,25.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5192,33.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12172,40.0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33003,60.0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

# Model 1 : Decision Tree Classifier

In [50]:
clf = DecisionTreeClassifier()   #Decision tree classifier

In [51]:
clf = clf.fit(X_train,y_train)

In [52]:
y_pred = clf.predict(X_test)

In [53]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.627117395787303

In [54]:
pred = pd.DataFrame({'y_test':y_test,'y_pred':y_pred})
pred

                         y_test                    y_pred
7606                 Chardonnay                Chardonnay
10                     Nebbiolo                  Nebbiolo
9117                 Chardonnay                Chardonnay
13485                 Red Blend                 Red Blend
11147                 Red Blend  Bordeaux-style Red Blend
...                         ...                       ...
6835                 Chardonnay                Chardonnay
37790     Rhône-style Red Blend     Rhône-style Red Blend
554    Bordeaux-style Red Blend  Bordeaux-style Red Blend
27413        Cabernet Sauvignon        Cabernet Sauvignon
14067     Rhône-style Red Blend                Pinot Noir

[13578 rows x 2 columns]

# Model 2 : Random Forest Classifier

In [55]:
rf = RandomForestClassifier(n_estimators=100)

In [56]:
rf = rf.fit(X_train,y_train)

In [57]:
y_pred_rf = rf.predict(X_test)

In [58]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_rf))

Accuracy: 0.6440565620857269

In [59]:
pred_rf= pd.DataFrame({'y_test':y_test,'y_pred':y_pred_rf})
pred_rf

                         y_test                    y_pred
7606                 Chardonnay                Chardonnay
10                     Nebbiolo                  Nebbiolo
9117                 Chardonnay                Chardonnay
13485                 Red Blend                 Red Blend
11147                 Red Blend  Bordeaux-style Red Blend
...                         ...                       ...
6835                 Chardonnay                Chardonnay
37790     Rhône-style Red Blend     Rhône-style Red Blend
554    Bordeaux-style Red Blend  Bordeaux-style Red Blend
27413        Cabernet Sauvignon        Cabernet Sauvignon
14067     Rhône-style Red Blend                Chardonnay

[13578 rows x 2 columns]

--------------------------------------------------------------------------------

##### Author: Vishak Gopkumar